<center>
<img src= "http://i48.tinypic.com/mcaypl.png"><br>
<FORM METHOD="POST" ACTION="/submission">
<textarea name = "text" rows = "50" cols = "100" style = "font-family:Arial"> 
{{file}}
</textarea><p>
<input style='display:none' name="path" value='{{path}}'></input>
<input style='display:none' name="rev" value='{{rev}}'></input>
<INPUT TYPE="submit" VALUE="submit your shenanigans!">
<INPUT TYPE="reset" VALUE="messed up? reset!">
</FORM>
</center>